# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/raw/
# /data/processed/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

#random
nohup.out

# MD files
*xtc
*trr
.*npz
**/*.md
*.nc
